body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to right, #b5ead7, #c7ceea);
}

/* 고정 영역역 */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
}

.select-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.select-page ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.select-page ul li {
  margin: 0 15px;
}

.select-page ul li i {
  font-size: 25px;
}

.select-page a {
  position: relative;
  color: blue;
  text-decoration: none;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s;
}

.select-page a:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

footer {
  position: fixed;
  bottom: 40px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.contact {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 300px;
}

.email {
  margin-right: 30px;
}

.blog {
  margin-left: 30px;
}

.email i,
.blog i {
  font-size: 25px;
}

.hidden {
  display: none !important;
}

/* 1 페이지 */

#page1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: 70px;
}

.text span {
  font-size: 40px;
  padding: 0 8px;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.text span:nth-child(1) {
  animation-delay: 0.2s;
}
.text span:nth-child(2) {
  animation-delay: 0.4s;
}
.text span:nth-child(3) {
  animation-delay: 0.6s;
}
.text span:nth-child(4) {
  animation-delay: 0.8s;
}
.text span:nth-child(5) {
  animation-delay: 1s;
}
.text span:nth-child(6) {
  animation-delay: 1.2s;
}
.text span:nth-child(7) {
  animation-delay: 1.4s;
}
.text span:nth-child(8) {
  animation-delay: 1.6s;
}
.text span:nth-child(9) {
  animation-delay: 1.8s;
}
.text span:nth-child(10) {
  animation-delay: 2s;
}
.text span:nth-child(11) {
  animation-delay: 2.2s;
}
.text span:nth-child(12) {
  animation-delay: 2.4s;
}
.text span:nth-child(13) {
  animation-delay: 2.6s;
}
.text span:nth-child(14) {
  animation-delay: 2.8s;
}
.text span:nth-child(15) {
  animation-delay: 3s;
}
.text span:nth-child(16) {
  animation-delay: 3.2s;
}
.text span:nth-child(17) {
  animation-delay: 3.4s;
}
.text span:nth-child(18) {
  animation-delay: 3.6s;
}

/* 2페이지 */

/* 3페이지 */
